.footer {
    font-size: 12px;
    line-height: 18px;
    color: #9D9D9D;
    padding-bottom: 12px;
}

@media screen and (max-width: 960px) {
    .footer {
        font-size: 7px;
        line-height: 9px;
    }
}

.footer__text {
    width: 414px;
    max-width: 100%;
}

.footer__summary {
    display: block;
}
