@import './layout.css';
@import './message.css';
@import './controls.css';
@import './questionnaire.css';
@import './spinner.css';
@import './footer.css';


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 74px;
    min-height: 224px;
}

@media screen and (max-width: 960px) {
    .header {
        min-height: 124px;
    }
}

.header__text {
    font-family: 'Bad Script', sans-serif;
    line-height: 35px;
    font-weight: 300;
    width: 412px;
    max-width: 95%;
}

@media screen and (max-width: 960px) {
    .header__text {
        font-size: 14px;
        line-height: 20px;
        width: 412px;
    }
}

.questionnaire::before {
    width: 296px;
    height: 156px;
    top: -143px;
    right: 3%;
    background: url("../images/eye.svg") center center/contain no-repeat;
}

.questionnaire::after {
    width: 160px;
    height: 162px;
    bottom: -186px;
    left: 24%;
    background: url("../images/planet.svg") center center/contain no-repeat;
}

@media screen and (max-width: 1440px) {
    .questionnaire::before {
        top: -143px;
        right: -12%;
    }

    .questionnaire::after {
        bottom: -123px;
        left: 12%;
    }
}

@media screen and (max-width: 960px) {
    .questionnaire::before {
        top: -136px;
        right: -29%;
    }

    .questionnaire::after {
        bottom: -173px;
        left: 3%;
    }
}

@media screen and (max-width: 800px) {
    .questionnaire::before {
        width: 93px;
        height: 50px;
        top: -116px;
        left: 98%;
        right: initial;
    }

    .questionnaire::after {
        width: 50px;
        height: 50px;
        bottom: -84px;
        left: 3%;
    }
}
